<h1>New Recipe</h1>

<br>

<%= form_for Recipe.new do |f| %>
  <%= render partial: 'form_fields', locals: { f: f } %>

  <div class='form_field'>
    <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
  </div>

  <%= f.submit %>
<% end %>
